ul#secondary-menu-links,
#main-wrapper .container-inner > .grid:first-child {
  float: left;

}
.grid,
#logo {
  float: right;
}
.region-header {
  float: left;
  clear: left;
}
#page {
	background-image:none;
	background-color:#5D2A75;
}
#menu-bar-wrapper .container{
    background-image: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5d2a75+0,aa44a4+100 */
    background: #5d2a75;/* Old browsers */
    background: -moz-linear-gradient(top,  #5d2a75 0%, #aa44a4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d2a75), color-stop(100%,#aa44a4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5d2a75 0%,#aa44a4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5d2a75 0%,#aa44a4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5d2a75 0%,#aa44a4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5d2a75 0%,#aa44a4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d2a75', endColorstr='#aa44a4',GradientType=0 ); /* IE6-9 */;
}
#menu-bar-wrapper .block-content ul.menu:first-child > li > a{
	background-image:none;
	text-align: center;
	text-indent: 0;
}
#menu-bar-wrapper .block-content ul.menu li:hover > a, #menu-bar-wrapper .block-content ul.menu li.sfhover > a, #menu-bar-wrapper .block-content ul.menu li a:hover, #menu-bar-wrapper .block-content ul.menu li a:focus, #menu-bar-wrapper .block-content ul.menu li a:active{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5d2a75+0,b235ac+64 */
	background: #5d2a75; /* Old browsers */
	background: -moz-linear-gradient(top,  #5d2a75 0%, #b235ac 64%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d2a75), color-stop(64%,#b235ac)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5d2a75 0%,#b235ac 64%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5d2a75 0%,#b235ac 64%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5d2a75 0%,#b235ac 64%); /* IE10+ */
	background: linear-gradient(to bottom,  #5d2a75 0%,#b235ac 64%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d2a75', endColorstr='#b235ac',GradientType=0 ); /* IE6-9 */
}
#menu-bar-wrapper .block .sf-menu.sf-style-ishopping ul li{
	border-bottom:1px dotted #fff;
}
#menu-bar-wrapper .block .sf-menu.sf-style-ishopping ul li:last-child{
	border-bottom:0;
}
#menu-bar-wrapper .block .sf-menu.sf-style-ishopping ul ul{
	border-color:#fff;
}
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu li:hover ul, .sf-menu li.sfHover ul{
	z-index:10000;
}
ul.primary li.active a{
	background-color: #5D2A75;
	border: 1px solid #5D2A75;
}
ul.primary li a:hover{
    background-color: #000;
	
}
#block-superfish-1.block .sf-menu.sf-style-ishopping ul{
    background: #B235AC;
}
#block-superfish-1.block .sf-menu.sf-style-ishopping ul a{
	color:#fff;
}
a{
	color: #AD56D7;
}
.block ul.menu li a:hover, .block ul.menu li a:focus, .block ul.menu li a:active, .block ul.menu li li a:hover, .block ul.menu li li a:focus, .block ul.menu li li a:active{
	color: #5D2A75;
}
#panel-second-wrapper{
	background: #5D2A75;
}
#panel-second-wrapper .email-address a{
	color: #FFF;
}
#panel-second-wrapper a{
	color:#fff;
}
#panel-second-wrapper .container{
	color:#fff;
}
ul.action-links li a,ul.action-links li a:active{
	background:transparent;
	color:#5D2A75;
	border:1px solid #5D2A75;
}
ul.action-links li a:hover{
	background: #5D2A75;
	color:#fff;
	border:1px solid #fff;
}
.block-custom-form span.button input.form-submit{
    background-color: #571A74;
	
}
.block-custom-form span.button input.form-submit:hover{
    background-color: #202020;
	
}

.horizontal-tabs ul.horizontal-tabs-list li {
    float: right;
    width: 14%;
}
li.horizontal-tab-button-1 {
    width: 18% !important;
}

.galleryformatter .gallery-thumbs li a{
	border-color: #5D2A75;
}
.galleryformatter .gallery-thumbs li.active a{
    background-color: #5D2A75;	
    border-color: #5D2A75;
}
.quicktabs-style-ishopping ul.quicktabs-tabs li a:hover, .quicktabs-style-ishopping ul.quicktabs-tabs li a:active, .quicktabs-style-ishopping ul.quicktabs-tabs li a:focus{
	color: #5D2A75 !important;
}
input.form-submit, a.button, a.button:visited{
	  color: #5D2A75;
}
input.form-submit:hover, a.button:hover, input.form-submit:focus, a.button:focus{
	background-image:none;
	border-color: #5D2A75;
	color: #5D2A75;
}

/*
* Views Exposed Form : Theming
*/
.view-filters .views-exposed-form .views-exposed-widget .form-type-select{
    float: left;
    margin-right: .5em;
    margin-left: 0;
}

.view-filters .views-exposed-form .views-exposed-widget .form-type-select label {
  float: right;
  padding: 0px 0px 5px 10px;
}


/**
* Frontpage Improvments
*/ 
.poll .vote-form .form-item-choice,
.poll .vote-form .choices .title{
    text-align: right;
}

.poll .vote-form input.form-radio {
    float:right;
}

#menu-bar-wrapper #block-search-form {
    float: left;
}

.block .sf-menu.sf-style-ishopping#superfish-1 {
    float: right;
}

.block .sf-menu.sf-style-ishopping#superfish-1 > li {
    background: url(../images/line-menu.png) no-repeat left center;   
}

#search-block-form .form-text {
  background: url(../images/ico-search.png) no-repeat 96% 5px #fff;
  padding: 5px 25px 5px 5px;
}

.block ul.menu li.expanded li.leaf a {
    background: url(../images/bullet4.png) 100% 13px no-repeat;   
}

.block ul.menu li a {
    background: url(../images/arrow-7-rtl.png) 100% 12px no-repeat;    
}

#search-form .form-item-keys,
#search-form .form-item-keys label{
    float: right;
}

.item-list .view-newest-tags li {
    float: right;
}

#quicktabs-quicktabs ul.quicktabs-tabs li {
    float:right;
}

#panel-first-wrapper .on-the-web {
    float: right;
    padding: 0 0px 5px 10px;
}

#main-content .galleryformatter {
    float: right;
    margin: .5em 0em 2em 2em;
}

#main-content .gallery-processed .gallery-slides .gallery-slide {
    right: 0;   
}

#main-content .galleryformatter-greenarrows .gallery-thumbs li {
    float: right;
}

.field-type-taxonomy-term-reference .field-label {
    float: right;
}

.node-content .model.product-info {
   display: block;
  font-weight: bold;
  width: 100%;
  margin-top: 1em;
  text-align: right;   
}

.node-content .model.product-info .product-info-label  {
    float: right;
}

.node-content .uc-out-stock-processed .attributes input.form-radio {
    float: none;   
}

.node-content .display-price {
    float: none;
    clear: none;
}

.ui-tabs .ui-tabs-nav li {
    float: right;
}
.payment-details-credit .field-suffix,
.payment-details-credit input, .payment-details-credit select,
.payment-details-credit label,
.pos-left,
.uc-cart-checkout-form div#webform-client-form-81 .form-item, 
.uc-cart-checkout-form div#webform-client-form-80 .form-item,
.hot-products-view .views-field-uc-product-image,
input.form-radio,
.uc-cart-checkout-form #ringo_contact_info-pane.fieldset .form-item, 
.uc-cart-checkout-form #id_document-pane.fieldset .form-item,
#uc-cart-view-form .form-actions a,
.views-field-display-price {
    float: right;
}
.view-filters .views-exposed-form div.filter-sortby-arrow-wrapper,
.views-exposed-form .views-exposed-widget,
.node-content .display-price,
#line-items-div,
.views-field-addtocartlink {
    float: left;
}
.slideshow-pager .views-field-view-node .field-content {
    float: right;
    margin-right: 120px;
}
#panel-first-wrapper .grid-inner,
#main-content .region-content .grid .grid-inner {
   border-right: 1px dotted #cdcdcd;
}
.slideshow-pager .views-field-title .field-content,
.slideshow-pager .views-field-body .field-content {
    text-align: right;
    padding-right: 120px;
}
.chosen-container-single .chosen-single div {
    right: auto;
    left: 0;
}
.uc-cart-checkout-form .address-pane-table tr td,
caption, th, td,
.poll .vote-form, .poll .vote-form .choices {
    text-align: right;
}
.horizontal-tabs ul.horizontal-tabs-list li {
    margin-right: 0px;
    margin-left: 5px;
}
.block .sf-menu.sf-style-ishopping li li a.menuparent {
    background: rgba(0, 0, 0, 0) url("../images/arrow-rtl.png") no-repeat scroll 0px 12px !important;
    padding-right: 0px !important;
}
.field-type-taxonomy-term-reference .field-label {
    float: none;
    direction: rtl;
}
.order-review-table .review-button-row td,
.uc-cart-checkout-form .form-actions,
#uc-cart-view-form .form-actions,
td.subtotal {
    text-align: left;
}
.uc-cart-checkout-form .form-item-panes-ringo-contact-info-contact-title, .uc-cart-checkout-form .form-item-contract-file {
    padding-left: 40%;
    padding-right: 0%;
}

.field-label {
    text-align: right;
}
.cart-block-arrow {
    right: 165px;
}
.order-review-table .review-button-row td, .uc-cart-checkout-form .form-actions, #uc-cart-view-form .form-actions, td.subtotal{
    direction: rtl;
}
#search-form .form-item-keys input.form-text {
    margin-left: 5px;
}
.abs-left {
    clear: right;
}

.chosen-container .chosen-drop {
   left:99999px !important; 
}
.chosen-container.chosen-with-drop .chosen-drop {
   left:0px !important; 
}